<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>

<body>
    <h1>Dojo Survey</h1>
    <form action="/submit" method="POST">
        <p>Name: <input type="text" name="name"></p>
        <p>Dojo Location:
            <select name="dojo_location">
                <option value="Seattle">Seattle</option>
                <option value="Washington_DC">Washington DC</option>
                <option value="Online">Online</option>
            </select>
        </p>
        <p>Favorite Language:
            <select name="favorite_language">
                <option value="Python">Python</option>
                <option value="JavaScript">Javascript</option>
                <option value="Java">Java</option>
            </select>
        </p>
        <p> Comment (optional):</p>
        <p>
            <textarea rows="rows" cols="50" name="comment">
                Enter text here
            </textarea>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
</body>

</html>