<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>submit</title>
</head>

<body>
    <h1><u>Submitted Info</u></h1>
    <p><b>Name:</b> {{ user_name }}</p>
    <p><b>Dojo Location:</b> {{ location }}</p>
    <p><b>Favorite Language:</b> {{ language }}</p>
    <p><b>Comment:</b> {{ com }}</p>

    <button onclick="window.location.href = 'http://localhost:5000';">Home</button>

</body>

</html>